.slick-arrow {
    top: 40%;
}

.slick-prev {
    left: 20px;
    z-index: 1;
}

.slick-prev:before {
    font-size: 55px;
}

.slick-next {
    right: 50px;
}

.slick-next:before {
    font-size: 55px;
}