table {
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
}

thead,
tr {
    border-bottom: 1px solid #e1e1e1;
}

td,
th {
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.wrapper {
    width: 1140px;
    margin: 50px auto;
}

.title {
    margin-bottom: 30px;
    font-size: 24px;
}

.contain {
    display: flex;
}

.table {
    width: 70%;
}

.icon {
    width: 20px !important;
    height: 20px !important;
    color: #cb0200;
    cursor: pointer;
}

.image {
    width: 140px;
    object-fit: cover;
}

.name {
    text-align: left;
}

.color {
    margin-top: 5px;
    font-size: 13px;
}

.quantity {
    display: flex;
    border: 1px solid #e1e1e1;
    justify-content: space-evenly;

    .minus,
    .plus {
        display: flex;
        width: 35px;
        height: 35px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
    }

    .input {
        width: 35px;
        height: 35px;
        text-align: center;
        border: 1px solid #e1e1e1;
        border-top: unset;
        border-bottom: unset;
    }
}

.promotion {
    margin-top: 20px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .promotion-title {
    }

    .promotion-input {
        height: inherit;
        margin: 0 20px;
        padding-left: 10px;
        flex-grow: 1;
        border: unset;
        border-bottom: 1px solid #e1e1e1;
        font-size: 16px;
    }

    .promotion-done {
        height: inherit;
        padding: 0 20px;
        color: #fff;
        background-color: #cb0200;
        border: 1px solid #cb0200;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            color: #cb0200;
            background-color: #fff;
        }
    }
}

.order {
    flex-grow: 1;
    margin-left: 10px;
    padding: 30px 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;

    .title {
        margin-bottom: 20px;
        text-align: center;
    }

    .order-row {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        align-items: center;

        .number-sum {
            color: #cb0200;
            font-size: 20px;
            font-weight: 700;
        }
    }

    .price {
        font-weight: bold;
    }

    button {
        margin-top: 20px;
        color: #fff;
        background-color: #cb0200;
        cursor: pointer;
        border: 1px solid #cb0200;
        border-radius: 4px;

        &:hover {
            color: #cb0200;
            background-color: #fff;
        }
    }
}

.description {
    margin-top: 20px;
}

.pay {
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 0;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #cb0200;
    cursor: pointer;
    border: 1px solid #cb0200;
    border-radius: 4px;

    &:hover {
        color: #cb0200;
        background-color: #fff;
    }
}

.buy {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 0;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #cb0200;
    cursor: pointer;
    border: 1px solid #cb0200;
    border-radius: 4px;

    &:hover {
        color: #cb0200;
        background-color: #fff;
    }
}
