* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html, body {
    width: 100%;
    height: 100%;
    // overflow: overlay;
    scroll-behavior: smooth;
}

// Scrollbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
    // background-color: transparent;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}


a {
    text-decoration: none;
    color: white;
}

a[class="active"] {
    color: red !important;
}